<ng-container *ngIf="cupsService.cups$ | async as cups">
  <app-cup-table *ngFor="let cup of cups" [cupDto]="cup">
    <button
      id="header-button"
      pButton
      (click)="onSelectCup(cup)"
      icon="pi pi-pencil"
      type="button"
      class="p-button-rounded p-button-warning edit-btn"
    ></button>
  </app-cup-table>
</ng-container>
