<form [formGroup]="formGroup">
  <p-dialog
    [header]="selectedPlayer.id ? 'Upraviť hráča' : 'Nový hráč'"
    [(visible)]="showDialog"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="onClose()"
  >
    <div class="p-grid p-fluid p-mt-3">
      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <input
            type="text"
            id="firstname"
            pInputText
            formControlName="firstname"
          />
          <label for="firstname">Meno</label>
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <input
            type="text"
            id="lastname"
            pInputText
            formControlName="lastname"
          />
          <label for="lastname">Priezvisko</label>
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <p-dropdown
            id="category"
            [autoDisplayFirst]="false"
            [options]="playerCategories"
            formControlName="category"
            appendTo="body"
          ></p-dropdown>
          <label for="category">Kategória</label>
        </span>
      </div>

      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <p-dropdown
            id="club"
            appendTo="body"
            [autoDisplayFirst]="false"
            [options]="clubsService.clubs$ | async"
            formControlName="clubId"
            optionLabel="name"
            optionValue="id"
          ></p-dropdown>
          <label for="club">Klub</label>
        </span>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        *ngIf="selectedPlayer.id"
        icon="pi pi-trash"
        (click)="onDelete($event)"
        [disabled]="!formGroup.valid"
        label="Vymazať"
        styleClass="p-button-danger"
      ></p-button>
      <p-button
        icon="pi pi-save"
        (click)="onSubmit($event)"
        [disabled]="!formGroup.valid"
        [label]="selectedPlayer.id ? 'Uložiť' : 'Pridať'"
        styleClass="p-button-success"
      ></p-button>
    </ng-template>
  </p-dialog>
</form>
