<p-table [value]="events$ | async" sortField="dateFrom" [autoLayout]="true">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-jc-between p-ai-center">
      <h3>Turnaje</h3>
      <div class="year-dropdown p-fluid">
        <p-dropdown [options]="dateOptions$ | async" (onChange)="selectEventYear($event.value)" appendTo="body" [(ngModel)]="currentYear"></p-dropdown>
      </div>
    </div>

  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5rem" class="collapsable">P.č.</th>
      <th style="width: 15rem">Dátum</th>
      <th style="width: 30rem; min-width: 10rem">Názov</th>
      <th class="collapsable">Usporiadateľ</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-event let-rowIndex="rowIndex">
    <tr
      (click)="
        event.state === eventState.AVAILABLE ? onSelectEvent(event) : null
      "
      [ngClass]="{ available: event.state === eventState.AVAILABLE }"
    >
      <td class="collapsable">{{ rowIndex + 1 }}</td>
      <td *ngIf="event.dateTo; else oneDateOnly">
        {{ event.dateFrom | date: "dd.MM." }} -
        {{ event.dateTo | date: "dd.MM.YYYY" }}
      </td>
      <ng-template #oneDateOnly>
        <td>{{ event.dateFrom | date: "dd.MM.YYYY" }}</td>
      </ng-template>
      <td>
        {{ event.name }}
        <span class="showable p-mr-1">
          - <b>{{ event.organizer }}</b></span
        ><ng-container *ngIf="event.state === eventState.AVAILABLE">
          <p-tag
            [rounded]="true"
            *ngIf="event | eventTag as state"
            [value]="state === 'LIVE' ? 'Naživo' : 'Dostupné'"
            [severity]="state === 'LIVE' ? 'warning' : 'info'"
          ></p-tag>
        </ng-container>
      </td>
      <td class="collapsable">
        {{ event.organizer }}
        <ng-container
          *ngTemplateOutlet="itemButtons; context: event"
        ></ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
