<ng-container *ngIf="event$ | async as event">
  <ng-container *ngIf="resultCategory$ | async as resCat">
    <app-clubs-table
      *ngIf="resCat === resultCategory.TEAMS; else players"
      [eventDto]="event"
    ></app-clubs-table>
    <ng-template #players>
      <app-players-table
        [eventDto]="event"
        [resultCategory]="resCat"
        (selectPlayerEvent)="onSelectPlayer($event)"
      ></app-players-table>
    </ng-template>
  </ng-container>

  <app-presentation
    *ngIf="loginService.loggedIn$ | async"
    [eventDto]="event"
  ></app-presentation>
</ng-container>
