<div class="p-mt-3">
  <p-card>
    <ng-template pTemplate="header">
      <ng-content selector="#header-button"></ng-content>
      <div class="header-div">
        <h2>{{ cupDto.name }}</h2>
        <h4 style="margin-bottom: 0">{{ cupDto.text }}</h4>
      </div>
    </ng-template>
    <p-table
      [value]="cupDto.clubsIdPoints"
      sortField="points"
      [sortOrder]="-1"
      [autoLayout]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">P.č.</th>
          <th>Klub</th>
          <th class="collapsable">Počet úderov</th>
          <th class="collapsable">Počet kôl</th>
          <th class="collapsable">Priemer</th>
          <th>Body</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-clubPoint let-rowIndex="rowIndex">
        <tr [class]="'cup-item' + rowIndex">
          <td>
            {{ rowIndex + 1 }}
          </td>
          <td>{{ (clubPoint.clubId | clubById | async)?.name }}</td>
          <td class="collapsable">{{ clubPoint.strikes }}</td>
          <td class="collapsable">{{ clubPoint.rounds }}</td>
          <td class="collapsable">{{ clubPoint.average > 0 ? clubPoint.average : "-" }}</td>
          <td>{{ clubPoint.points }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
