<p-table
  *ngIf="rounds$ | async as rounds"
  [value]="
    scores$ | async | scoreByCategory: resultCategory | scoreOrder: rounds
  "
  sortField="name"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <h3>{{ eventDto.name }} - {{ eventDto.organizer }}</h3>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">P.č.</th>
      <th>Meno</th>
      <th>Oddiel</th>
      <th>Kat.</th>
      <th style="width: 5rem" *ngFor="let round of rounds">
        {{ round.name }}
      </th>
      <th style="width: 5rem">T</th>
      <th style="width: 5rem">Súčet</th>
      <th style="width: 5rem">Priemer</th>
      <th style="width: 5rem">Diff</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-score let-rowIndex="rowIndex">
    <tr (click)="onSelectScore(score)">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ score.player.firstname }} {{ score.player.lastname }}</td>
      <td>
        {{
          (clubsService.clubs$ | async | clubByIdFromService: score.clubId)
            ?.name
        }}
      </td>
      <td>{{ score.category ?? score.player.category }}</td>
      <td
        [class]="score.rounds[i]?.sum | roundColor"
        *ngFor="let round of rounds; let i = index"
      >
        <b>{{ score.rounds[i]?.sum || null }}</b>
      </td>
      <td>
        {{ score.penalty.length > 0 ? (score | penaltyTable) : null }}
      </td>
      <td [class]="score.average | roundColor">
        <b>{{ score.totalSum > 0 ? score.totalSum : null }}</b>
      </td>
      <td [class]="score.average | roundColor">
        <b>{{ score.average | number: "1.0-2" }}</b>
      </td>
      <td>{{ score.diffs[0] }}</td>
    </tr>
  </ng-template>
</p-table>
