<form [formGroup]="formGroup">
  <p-dialog
    [header]="selectedClub.id ? 'Upraviť klub' : 'Nový klub'"
    [(visible)]="showDialog"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="onClose()"
  >
    <div class="p-grid p-fluid p-mt-3">
      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <input type="text" id="name" pInputText formControlName="name" />
          <label for="name">Názov</label>
        </span>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        *ngIf="selectedClub.id"
        icon="pi pi-trash"
        (click)="onDelete($event)"
        [disabled]="!formGroup.valid"
        label="Vymazať"
        styleClass="p-button-danger"
      ></p-button>
      <p-button
        icon="pi pi-save"
        (click)="onSubmit($event)"
        [disabled]="!formGroup.valid"
        [label]="selectedClub.id ? 'Uložiť' : 'Pridať'"
        styleClass="p-button-success"
      ></p-button>
    </ng-template>
  </p-dialog>
</form>
