<div class="p-pl-3">
  <h3>{{ eventDto.name }} - {{ eventDto.organizer }}</h3>
</div>

<div class="p-mt-2" *ngFor="let team of teams$ | async; let teamIndex = index">
  <p-card>
    <p-table
      *ngIf="rounds$ | async | includedFilter as rounds"
      [value]="teamIndexes"
      sortField="name"
      [autoLayout]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">{{ teamIndex + 1 }}.</th>
          <th style="width: 30%; min-width: 10rem !important">
            {{ team.club.name }}
          </th>
          <th style="width: 5rem" *ngFor="let round of rounds">
            {{ round.name }}
          </th>
          <th style="width: 5rem">T</th>
          <th>Súčet</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowIndex="rowIndex">
        <tr *ngIf="team['player' + (rowIndex + 1)] as score">
          <td>{{ rowIndex + 1 }}</td>
          <td>
            {{ score.player.firstname }}
            {{ score.player.lastname }}
          </td>
          <td
            [class]="score.rounds[i]?.sum | roundColor"
            *ngFor="let round of rounds; let i = index"
          >
            <b>{{ score.rounds[i]?.sum || null }}</b>
          </td>
          <td>
            {{ score | penaltyTable }}
          </td>
          <td [class]="score.average | roundColor">
            <b>{{ score.totalSum || null }}</b>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="2"></td>
          <td *ngFor="let round of rounds; let i = index">
            <b [class]="team.roundsSum[i] | teamRoundColor">{{
              team.roundsSum[i]?.sum || null
            }}</b>
          </td>
          <td>{{ team.totalPenalty || null }}</td>
          <td>
            <b [class]="team.average | roundColor">{{
              team.totalSum ? team.totalSum : null
            }}</b>
          </td>
        </tr>
        <tr>
          <td [attr.colspan]="rounds.length + 3"></td>
          <td>
            <b [class]="team.average | roundColor">{{
              team.average || null | number: "1.0-3"
            }}</b>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
