<ng-container *ngIf="loginService.login$ | async as login; else showForm">
  <div class="p-d-flex p-jc-center p-grid">
    <div class="p-col-2 p-fluid">
      <h2>{{ login.login }}</h2>
    </div>
  </div>
</ng-container>

<ng-template #showForm>
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <div class="p-d-flex p-jc-center p-grid">
      <div class="p-col-8 p-md-4 p-lg-2 p-fluid">
        <h2>Prihlásenie</h2>
        <input
          type="text"
          formControlName="login"
          placeholder="Meno"
          pInputText
        />
        <input
          class="p-mt-2"
          type="password"
          formControlName="password"
          placeholder="Heslo"
          pInputText
        />
        <button
          class="p-mt-2"
          [disabled]="!formGroup.valid"
          pButton
          type="submit"
          label="Prihlásiť"
        ></button>
      </div>
    </div>
  </form>
</ng-template>
