<p-menubar
  *ngIf="(presentationService.run$ | async) === false"
  [model]="loginService.login$ | async | menuFilter: items"
>
  <ng-template pTemplate="end">
    <div class="p-d-flex">
      <button
        *ngFor="let menuButton of menuAddonsService.menuButtons$ | async"
        [id]="menuButton.id"
        [class]="'p-mr-2 p-button-outlined ' + menuButton.className"
        [icon]="menuButton.icon"
        (click)="menuButton.action(menuButton.mouseEvent ? $event : null)"
        iconPos="right"
        pButton
        type="button"
        [label]="menuButton.label"
      ></button>
      <div
        class="category-dropdown p-fluid"
        *ngIf="menuAddonsService.menuDropdown$ | async as menuDropdown"
      >
        <p-dropdown
          id="category"
          [options]="menuDropdown.options"
          appendTo="body"
          (onChange)="menuDropdown.action($event.value)"
        ></p-dropdown>
      </div>
    </div>
  </ng-template>
</p-menubar>
<router-outlet></router-outlet>

<p-toast></p-toast>

<p-confirmPopup></p-confirmPopup>
