.category-dropdown {
  width: 150px;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  padding: 0 1rem;
  background-color: white;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem 1rem;
  background-color: rgba(190, 210, 231, 0.17);
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-tfoot > tr > td {
  padding: 0.5rem 1rem;
  background-color: rgba(190, 210, 231, 0.17);
}

:host ::ng-deep .p-datatable tr:nth-child(even) {
  background-color: rgba(242, 222, 222, 0.15);
}

:host ::ng-deep .p-menubar {
  background-color: white;
  border: none;
}
