<app-events-table [events$]="events$">
  <ng-template #itemButtons let-eventId="id">
    <ng-container *ngIf="loginService.loginValue | hasPermissions: eventId">
      <button
        pButton
        (click)="onEventEdit(eventId)"
        type="button"
        icon="pi pi-pencil"
        class="p-button-rounded p-button-warning right-button"
        pTooltip="Nastavenie turnaja"
      ></button
      ><button
        pButton
        (click)="onEventWrite(eventId)"
        type="button"
        icon="pi pi-user-edit"
        class="p-button-rounded p-button-info right-button p-mr-2"
        pTooltip="Zápis výsledkov"
      ></button
    ></ng-container>
  </ng-template>
</app-events-table>

<app-events-create-dialog
  *ngIf="showDialog"
  (closeEvent)="onCloseDialog($event)"
></app-events-create-dialog>
