<p-table
  [value]="courseService.courses$ | async"
  sortField="name"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="caption">
    <h3>Ihriská</h3>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">P.č.</th>
      <th pSortableColumn="name">
        Názov <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th *ngFor="let lane of lanes">
        {{ lane }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-course let-rowIndex="rowIndex">
    <tr (click)="onSelectCourse(course)">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ course.name }}</td>
      <td *ngFor="let lane of lanes">{{ course["lane" + lane] }}</td>
    </tr>
  </ng-template>
</p-table>
