<app-player-table
  *ngIf="scoreWithRound$ | async as scoreWithRound"
  [score]="scoreWithRound.score"
  [rounds]="scoreWithRound.rounds"
>
  <form [formGroup]="formGroup">
    <ng-container formArrayName="rounds">
      <ng-template #scoreRow let-rowIndex="rowIndex">
        <td
          class="align-center"
          [formGroupName]="i"
          *ngFor="let round of roundsArray.controls; let i = index"
        >
          <p-inputNumber
            [inputStyle]="{ width: '3rem' }"
            inputStyleClass="align-center"
            type="number"
            (onInput)="onInput(i, rowIndex)"
            [inputId]="i + '' + rowIndex"
            [formControlName]="rowIndex"
            #numberInput
          ></p-inputNumber>
        </td>
      </ng-template>
      <ng-template #sumRow>
        <td *ngFor="let round of roundsArray.controls" class="align-center">
          <b [class]="round.value | scoreSum | roundColor">{{
            round.value | scoreSum
          }}</b>
        </td>
      </ng-template>
    </ng-container>
  </form>
  <button
    saveButton
    pButton
    type="button"
    icon="pi pi-save"
    (click)="onSubmit()"
    [disabled]="!formGroup.valid || formGroup.pristine"
    class="p-button-success p-button-rounded"
    id="save-button"
  ></button>
  <ng-template #penaltyTable let-score="score" let-rounds="rounds">
    <app-penalty-table
      *ngIf="rounds"
      [score]="score"
      [rounds]="rounds"
      (reloadScore)="onReloadScore()"
    ></app-penalty-table>
  </ng-template>
</app-player-table>
