<p-table
  [value]="playersService.players$ | async"
  sortField="lastname"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="caption">
    <h3>Hráči</h3>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10%">P.č.</th>
      <th pSortableColumn="firstname">
        Meno <p-sortIcon field="firstname"></p-sortIcon>
      </th>
      <th pSortableColumn="lastname">
        Priezvisko <p-sortIcon field="lastname"></p-sortIcon>
      </th>
      <th pSortableColumn="category">
        Katégoria <p-sortIcon field="category"></p-sortIcon>
      </th>
      <th>Kluby</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-player let-rowIndex="rowIndex">
    <tr (click)="onSelectPlayer(player)">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ player.firstname }}</td>
      <td>{{ player.lastname }}</td>
      <td>{{ player.category }}</td>
      <td>
        <ng-container *ngIf="player.clubId">
          {{ (player.clubId | clubById | async)?.name }}
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
