<form [formGroup]="formGroup">
  <p-dialog
    [header]="selectedCup.id ? 'Upraviť pohár' : 'Nový pohár'"
    [(visible)]="showDialog"
    [modal]="true"
    [style]="{ width: '80vw' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="onClose()"
  >
    <p-table [value]="clubsIdPointsArray.controls" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="p-fluid">
          <input
            type="text"
            id="name"
            pInputText
            formControlName="name"
            placeholder="Názov"
          />
          <input
            type="text"
            id="text"
            pInputText
            formControlName="text"
            placeholder="Text"
            class="p-mt-1"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>P.č.</th>
          <th>Klub</th>
          <th>Počet úderov</th>
          <th>Počet kôl</th>
          <th>Priemer</th>
          <th>Body</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowIndex="rowIndex"
        formArrayName="clubsIdPoints"
      >
        <tr [formGroupName]="rowIndex">
          <td>{{ rowIndex + 1 }}</td>
          <td class="p-fluid">
            <p-dropdown
              id="club"
              [autoDisplayFirst]="false"
              [options]="clubsService.clubs$ | async"
              formControlName="clubId"
              optionLabel="name"
              optionValue="id"
              appendTo="body"
              placeholder="Vyber klub ..."
            ></p-dropdown>
          </td>
          <td class="p-fluid">
            <input
              type="number"
              id="strikes"
              pInputText
              formControlName="strikes"
              placeholder="Počet úderov"
            />
          </td>
          <td class="p-fluid">
            <input
              type="number"
              id="rounds"
              pInputText
              formControlName="rounds"
              placeholder="Počet kôl"
            />
          </td>
          <td class="p-fluid">
            <input
              type="number"
              id="average"
              pInputText
              formControlName="average"
              placeholder="Priemer"
            />
          </td>
          <td class="p-fluid">
            <input
              type="number"
              id="points"
              pInputText
              formControlName="points"
              placeholder="Počet bodov"
            />
          </td>
          <td>
            <div class="p-d-flex p-jc-evenly">
              <button
                *ngIf="rowIndex >= clubsIdPointsArray.controls.length - 1"
                (click)="onPushEmptyClubPoint()"
                pButton
                type="button"
                icon="pi pi-plus"
                class="p-button-rounded p-button-info"
              ></button>
              <button
                *ngIf="rowIndex > 0"
                (click)="onRemoveClubPoint(rowIndex)"
                pButton
                type="button"
                icon="pi pi-minus"
                class="p-button-rounded p-button-danger"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <p-button
        *ngIf="selectedCup.id"
        icon="pi pi-trash"
        (click)="onDelete($event)"
        [disabled]="!formGroup.valid"
        label="Vymazať"
        styleClass="p-button-danger"
      ></p-button>
      <p-button
        icon="pi pi-save"
        (click)="onSubmit($event)"
        [disabled]="!formGroup.valid || formGroup.pristine"
        [label]="selectedCup.id ? 'Uložiť' : 'Pridať'"
        styleClass="p-button-success"
      ></p-button>
    </ng-template>
  </p-dialog>
</form>
