<form [formGroup]="formGroup">
  <div class="p-grid p-fluid p-mt-5">
    <div class="p-col-12 p-grid">
      <div class="p-col-10 p-grid">
        <div class="p-col-4">
          <span class="p-float-label">
            <p-calendar
              formControlName="date"
              dateFormat="dd.mm.yy"
              selectionMode="range"
              inputId="range"
              appendTo="body"
              dataType="string"
              [selectOtherMonths]="true"
              (onSelect)="onDateSelect(calendar)"
              #calendar
            ></p-calendar>
            <label for="name">Dátum</label>
          </span>
        </div>
        <div class="p-col-4">
          <span class="p-float-label">
            <input type="text" id="name" pInputText formControlName="name" />
            <label for="name">Názov</label>
          </span>
        </div>
        <div class="p-col-4">
          <span class="p-float-label">
            <input
              type="text"
              id="organizer"
              pInputText
              formControlName="organizer"
            />
            <label for="name">Usporiadateľ</label>
          </span>
        </div>
      </div>
      <div class="p-col-2" *ngIf="isAdmin">
        <p-button
          icon="pi pi-save"
          (click)="onEventSubmit()"
          [disabled]="!formGroup.valid"
          styleClass="p-button-rounded p-button-success"
        ></p-button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="eventDto$ | async as eventDto">
    <app-event-scores
      *ngIf="(playersService.players$ | async) && (clubsService.clubs$ | async)"
      [eventDto]="eventDto"
    ></app-event-scores>

    <app-event-user-create
      *ngIf="showUserCreateDialog"
      [eventId]="eventDto.id"
      (closeEvent)="onShowUserCreateDialog(false)"
    ></app-event-user-create>
  </ng-container>
</form>
