<form [formGroup]="formGroup">
  <p-dialog
    header="Nový turnaj"
    [(visible)]="showDialog"
    [modal]="true"
    [style]="{ width: '60vw' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="onClose()"
  >
    <div class="p-grid p-fluid p-mt-3">
      <div class="p-field p-col-12 p-lg-4">
        <span class="p-float-label">
          <p-calendar
            formControlName="date"
            dateFormat="dd.mm.yy"
            selectionMode="range"
            inputId="range"
            appendTo="body"
            dataType="string"
            [selectOtherMonths]="true"
            (onSelect)="onDateSelect(calendar)"
            #calendar
          ></p-calendar>
          <label for="range">Dátum</label>
        </span>
      </div>
      <div class="p-field p-col-12 p-lg-4">
        <span class="p-float-label">
          <input type="text" id="name" pInputText formControlName="name" />
          <label for="name">Názov</label>
        </span>
      </div>
      <div class="p-field p-col-12 p-lg-4">
        <span class="p-float-label">
          <input
            type="text"
            id="organizer"
            pInputText
            formControlName="organizer"
          />
          <label for="organizer">Usporiadateľ</label>
        </span>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-save"
        (click)="onSubmit()"
        [disabled]="!formGroup.valid"
        label="Pridať"
        styleClass="p-button-success"
      ></p-button>
    </ng-template>
  </p-dialog>
</form>
