<p-overlayPanel
  [style]="{ width: '600px' }"
  appendTo="body"
  [dismissable]="false"
>
  <ng-template pTemplate>
    <div
      class="p-grid"
      *ngFor="let presentation of presentations; let i = index"
    >
      <div class="p-col-4 p-d-flex p-ai-center">
        <h4 class="p-m-0">
          <p-checkbox
            [(ngModel)]="presentation.checked"
            [binary]="true"
            inputId="binary"
            (onChange)="onCheckboxChange($event.checked, i)"
            class="p-mr-2"
          ></p-checkbox>
          {{ category[presentation.category] }}: {{ presentation.seconds }} s
        </h4>
      </div>
      <div class="p-col-8">
        <p-slider
          [min]="0"
          [max]="20"
          [(ngModel)]="presentation.seconds"
          (onSlideEnd)="onSlideEnd($event.value, i)"
          class="p-p-6"
        ></p-slider>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-4 p-d-flex p-ai-center">
        <h4 class="p-m-0">Rýchlosť {{ presentationSpeed }} %</h4>
      </div>
      <div class="p-col-8">
        <p-slider
          [min]="1"
          [max]="100"
          [(ngModel)]="presentationSpeed"
          class="p-p-6"
        ></p-slider>
      </div>
    </div>
    <div>
      <h4 class="p-ml-0">
        Prezentácia sa vypne stlačením ESC na klávesnici.
      </h4>
    </div>
    <div class="align-center p-mt-3">
      <button
        pButton
        label="Spustiť"
        type="button"
        iconPos="right"
        icon="pi pi-play"
        class="p-button-success p-button-outlined"
        (click)="onStart()"
      ></button>
    </div>
  </ng-template>
</p-overlayPanel>
