<p-dialog
  header="Pridať zapisovateľa"
  [(visible)]="showDialog"
  (onHide)="onClose()"
  [modal]="true"
  [style]="{ width: '300px' }"
>
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <div class="p-d-flex p-jc-center p-grid">
      <div class="p-col-12 p-fluid">
        <input
          type="text"
          formControlName="login"
          placeholder="Meno"
          pInputText
        />
        <input
          class="p-mt-2"
          type="password"
          formControlName="password"
          placeholder="Heslo"
          pInputText
        />
        <button
          class="p-mt-2"
          [disabled]="!formGroup.valid"
          pButton
          type="submit"
          label="Vytvoriť"
        ></button>
      </div>
    </div>
  </form>
</p-dialog>
