<p-table [value]="scores" [reorderableColumns]="true">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th style="width: 5rem">P.č.</th>
      <th>Meno</th>
      <th>Klub</th>
      <th style="width: 20rem">Kategória</th>
      <th style="width: 10rem">Nasadenie</th>
      <th style="width: 5rem">
        <app-event-rounds [eventDto]="eventDto"></app-event-rounds>
      </th>
      <th style="width: 5rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-score let-rowIndex="rowIndex">
    <ng-container *ngIf="score.id; else newPlayer">
      <tr
        [pReorderableRow]="rowIndex"
        *ngIf="score.playerId | playerById | async as player"
      >
        <td>
          <span class="pi pi-bars" [pReorderableRowHandle]="rowIndex"></span>
        </td>
        <td>
          {{ rowIndex + 1 }}
        </td>
        <td>{{ player.firstname }} {{ player.lastname }}</td>
        <td>{{ (score.clubId | clubById | async)?.name }}</td>
        <td>
          <p-dropdown
            id="kategoria"
            [options]="categories"
            [(ngModel)]="score.playerCategory ? score.playerCategory : player.category"
            (onChange)="onUpdate($event, score)"
            appendTo="body"
          ></p-dropdown>
        </td>
        <td>{{ teams | nasadenieByScore: score }}</td>
        <td></td>
        <td>
          <button
            pButton
            (click)="onDelete($event, score)"
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-container>
    <ng-template #newPlayer>
      <tr>
        <td></td>
        <td>
          {{ rowIndex + 1 }}
        </td>
        <td class="p-fluid">
          <p-dropdown
            id="player"
            [autoDisplayFirst]="false"
            [filter]="true"
            filterBy="firstname"
            [options]="playersService.players$ | async"
            optionValue="id"
            [(ngModel)]="score.playerId"
            appendTo="body"
            placeholder="Vyber meno ..."
            (onChange)="onChangePlayer($event.value, playerDropdown.options)"
            #playerDropdown
          >
            <ng-template let-player pTemplate="selectedItem">
              {{ player.firstname }} {{ player.lastname }}
            </ng-template>
            <ng-template let-player pTemplate="item">
              {{ player | playerName }}
            </ng-template>
          </p-dropdown>
        </td>
        <td class="p-fluid">
          <p-dropdown
            id="club"
            [autoDisplayFirst]="false"
            [options]="clubsService.clubs$ | async"
            optionValue="id"
            optionLabel="name"
            [(ngModel)]="score.clubId"
            appendTo="body"
            placeholder="Vyber klub ..."
          ></p-dropdown>
        </td>
        <td>
          <p-dropdown
            id="kategoria"
            [autoDisplayFirst]="false"
            [options]="categories"
            [(ngModel)]="score.playerCategory"
            appendTo="body"
            placeholder="Vyber kategóriu ..."
          ></p-dropdown>
        </td>
        <td class="p-fluid">
          <p-dropdown
            id="nasadenie"
            [autoDisplayFirst]="false"
            [options]="nasadenie"
            appendTo="body"
            [showClear]="true"
            #nasadenieDropdown
          ></p-dropdown>
        </td>
        <td></td>
        <td>
          <button
            pButton
            [disabled]="!score.playerId || !score.clubId"
            (click)="onCreate(score, nasadenieDropdown.value)"
            type="button"
            icon="pi pi-plus"
            class="p-button-rounded p-button-info"
          ></button>
        </td>
      </tr>
    </ng-template>
  </ng-template>
</p-table>
